<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <title>Listado de Estaciones</title>
  <meta charset="UTF-8">
  <th:block th:replace="fragments/styles :: styles" />
</head>

<body>
  <div class="container">
    <h1>Listado de Estaciones</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Habilitada</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="estacion : ${estaciones}">
          <td th:text="${estacion.id}"></td>
          <td th:text="${estacion.nombre}"></td>
          <td th:text="${estacion.habilitada} ? 'Sí' : 'No'"></td>
          <td class="actions-column">
            <a class="button-link" th:href="@{/estaciones/{id}/atracciones(id=${estacion.id})}">Ver Atracciones</a>
            <form class="inline-form" th:if="${estacion.habilitada}"
              th:action="@{/estaciones/{id}/deshabilitar(id=${estacion.id})}" method="post">
              <button type="submit" class="button-danger">Deshabilitar</button>
            </form>
            <form class="inline-form" th:if="${!estacion.habilitada}"
              th:action="@{/estaciones/{id}/habilitar(id=${estacion.id})}" method="post">
              <button type="submit" class="button-success">Habilitar</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    <a class="button-link" th:href="@{/}">Volver al inicio</a>
  </div>
</body>

</html>